* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.contenedor {
    background-color: rgb(199, 199, 199);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas: "header header" "navbar navbar" "main main" "footer footer";
    min-height: 100vh;
}

header {
    grid-area: header;
    display: flex;
    align-items: center;
    background-image: linear-gradient(to bottom, black, rgb(76, 76, 76));
}

h1 {
    color: white;
    padding: 5px;
}

h1 {
    animation-duration: 2s;
    animation-name: apareceTitulo;
    animation-iteration-count: 1;
}

@keyframes apareceTitulo {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}

.logo img {
    border-radius: 50px;
}

h2 {
    margin: 5px;
}

nav {
    grid-area: navbar;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: rgb(76, 76, 76);
}

ul {
    display: flex;
    padding: 5px;
    list-style: none;
    justify-content: center;
    align-content: center;
}

.navbar ul {
    background-color: rgb(78, 76, 76);
}

ul li a {
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    color: white;
}

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: rgb(199, 199, 199);
}

footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    background-color: black;
}

footer h5 {
    color: white;
    padding: 5px;
}

.seccion1 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.sobreMi {
    display: flex;
    flex-wrap: wrap;
}

h4 {
    margin: 5px;
}

.seccion2 {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

.proximasFechas {}

.infoUtil {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-content: center;
    width: 100%;
}


/* ESTILOS AUDIOVISUALES*/

.opciones {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 80%;
}

.audiovisuales {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 80%;
}

.imgOpciones {
    width: 300px;
    height: 300px;
    justify-content: space-between;
}

@media(min-width:576px) {
    .seccion2 {
        flex-direction: row;
    }
    .opciones {
        flex-direction: row;
        align-content: space-between;
        align-items: space-between;
        justify-content: space-between;
        justify-items: space-between;
    }
    header {
        justify-content: space-around;
        justify-items: space-between;
    }
}